textarea {
    min-height: 400px;
}

#detail-view {
    display: none;
}

.mail {
    display: flex;
    width: 100%;
    line-height: 32px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 3px;
    padding: 3px 7px;
}

/* background color only for testing */
.mail-subject {
    width: 65%;
    font-weight: 700;
    font-size: 22px;
    /* background-color: lightblue; */
    padding-left: 11px;
    color: lightskyblue;
}
.mail-date {
    width: 30%;
    font-size: 12px;
    /* background-color: lightcyan; */
    padding-left: 4px;
    margin-left: 5%;
    color: lightblue;
}
